{% extends "election/base_list.html" %}

{% block heading %}Candidate Listing{% endblock %}

{% block table %}

<table id="candidateListTable" class="dataTable classyTable">
    <thead>
        <tr>
            <th class="sorting">Candidate</th>
            <th class="sorting">Party</th>
            <th class="sorting">Constituency</th>
            <th class="sorting">Votes</th>
            <th class="sorting">Vote %</th>
        </tr>
    </thead>
    <tbody>
    {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.name }}</td>
            <td><a href="{% url party-detail candidate.party.id %}">{{ candidate.party.name }}</a></td>
            <td><a href="{% url constituency-2010-detail candidate.constituency_2010.id %}">{{ candidate.constituency_2010.name }}</a></td>
            <td>{{ candidate.votes_2010 }}</td>
            <td>{{ candidate.vote_percentage_2010|floatformat:2 }}%</td>
        </tr>
    {% empty %}
        <p>No candidates are available.</p>
    {% endfor %}
    </tbody>
</table>

{% endblock table %}

{% block datatablesInitSpecific %}
    $("#candidateListTable").dataTable({
        "sPaginationType": "full_numbers",
        iDisplayLength : 30,
        bLengthChange : false,
        "aoColumns": [
            { "sType": "html" },
            { "sType": "html" },
            { "sType": "string" },
            { "sType": "numeric" },
            { "sType": "percent" }
        ]
    });
{% endblock datatablesInitSpecific %}
