{% extends "election/base_list.html" %}

{% block heading %}Party Listing{% endblock %}

{% block table %}

<table id="partyListTable" class="dataTable classyTable">
    <thead>
        <tr>
            <th class="sorting">Party</th>
            <th class="sorting">Candidates</th>
            <th class="sorting">Votes</th>
            <th class="sorting">Votes Fought</th>
            <th class="sorting">Vote Percentage</th>
            <th class="sorting">Seats</th>
            <th class="sorting">Seats PR</th>
            <th class="sorting">Seats Ger</th>
        </tr>
    </thead>
    <tbody>
        {% for party in parties %}
            <tr>
                <td><a href="{% url party-detail party.id %}">{{ party.name }}</a></td>
                <td>{{ party.candidate_2010_set.count }}</td>
                <td>{{ party.votes_2010 }}</td>
                <td>{{ party.votes_fought_2010 }}</td>
                <td>{{ party.vote_percentage_2010|floatformat:2 }}%</td>
                <td>{{ party.seats_2010 }}</td>
                <td>{{ party.seats_2010_pr }}</td>
                <td>{{ party.seats_2010_ger }}</td>
            </tr>
        {% empty %}
            <p>No parties are available.</p>
        {% endfor %}
    </tbody>
</table>

{% endblock table %}

{% block tableinfo %}
PR Seats: - the number of seats under a <a href="http://en.wikipedia.org/wiki/Proportional_representation">Proportional Representation</a> system'
<br />
German Seats: - the number of seats under a <a href="http://en.wikipedia.org/wiki/Elections_in_Germany#Election_system">system like in Germany</a>
<br />
*both are rough guesstimates and may be wildly off
{% endblock %}

{% block datatablesInitSpecific %}
    $("#partyListTable").dataTable({
        "sPaginationType": "full_numbers",
        iDisplayLength : 30,
        bLengthChange : false,
        "aoColumns": [
            { "sType": "html" },
            { "sType": "numeric" },
            { "sType": "numeric" },
            { "sType": "numeric" },
            { "sType": "percent" },
            { "sType": "numeric" },
            { "sType": "numeric" },
            { "sType": "numeric" }
        ],
        bAutoWidth: false,
        "aaSorting": [[7, "desc"], [6, "desc"], [5, "desc"], [4, "desc"]]
    });
{% endblock datatablesInitSpecific %}
